<section ng-controller="HomeController">
  <div class="container-fluid" data-ng-controller="MyThemeController">
  <div class="jumbotron">
    <h1>Fun Roulette!!!</h1>
    <div class="text-center">
      <h2>Fun is Just One Click Away</h2>
      <a href="http://www.yelp.com" class="btn btn-lg btn-default">Challenge Accepted!</a>
      <a href="http://www.yelp.com" class="btn btn-lg btn-default">Roll Again!</a>
    </div>
      <div class="form-group">
        <label for="usr">Type a Category:</label>
        <input type="text" class="form-control" id="usr" placeholder="Restaurants, Nightlife, etc...">
      </div>
      <div class="form-group">
        <label for="usr">Type a Location:</label>
        <input type="text" class="form-control" id="usr" placeholder="San Fransisco, New York City, San Clemente, etc...">
      </div>
  </div>
  </div>
</section>
